---
Language: Cpp
BasedOnStyle: LLVM
Standard: Latest

IndentWidth: 4
ColumnLimit: 120
AccessModifierOffset: -4
IndentCaseLabels: true
NamespaceIndentation: None
FixNamespaceComments: true

PointerAlignment: Left
ReferenceAlignment: Pointer

BreakConstructorInitializers: BeforeComma
ConstructorInitializerIndentWidth: 0
PackConstructorInitializers: CurrentLine

AllowShortFunctionsOnASingleLine: Inline
AllowShortLambdasOnASingleLine: All
SpaceAfterTemplateKeyword: false
BreakTemplateDeclarations: Yes

# Own header first (automatic), then project, third-party, standard library.
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^"'
    Priority: 1
  - Regex: '^<[a-z_]+>$'
    Priority: 3
  - Regex: '^<'
    Priority: 2
...
